header.header
  .container.header--container.fade-in
    .header__content
      h1.header__logo.fade-in
        img(src="./../../assets/images/logo-tea-4-drink.png", alt="logo Tea4drink - prático, rápido e instantâneo.")
        span.text-hide Tea4drink - prático, rápido e instantâneo.
      
      h2.header__title.fade-in Rápido,
        br.hidden-lg
        span.header__title--destaque Prático e
          br.hidden-lg
          | Instantâneo

      p.header__description Tenha o drink perfeito sem sair da sua casa!

      .box__btn
        a(href=".kits", class="btn menu-mover" title="QUERO CONHECER") QUERO CONHECER

