// 1. color 
// 2. font size
// 3. font-family
// --------------------------------------------------


$btborda-padrao1 = #977C20
$btcor-padrao1 = #FFD835
$bg-verde = #eeffc3

$cor-padrao = #e95201
$preto = #20292e
$branco = #fff
$cinza = #bac1c6







