- var metadescription = "Tea 4 Drink - Tenha o drink perfeito sem sair da sua casa!"

- var titulosite ="Tea 4 Drink - Tenha o drink perfeito sem sair da sua casa!"


- var corpadrao = "#380951"
- var nomesite ="Tea 4 Drink"

- var mailtoemail ="contato@tea4drink.com.br"
- var email ="contato@tea4drink.com.br"
