// 1. color
// 2. font size
// 3. font-family
// --------------------------------------------------


$branco = #ffffff

$cor-padrao = #ec4a23
$cor-padrao2 = #247c3b

$preto = #000
$cinza = #727272
$preto2 = #121324



