body
html {
  font-family: Montserrat,sans-serif;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration none
  cursor pointer
}


ul {
  list-style: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
}

.img-full {
  width: 100%;
  height: 100%;
  display: block;
}

.img-center {
  display: block;
  margin: auto;
}

// .full-hidden {
//   width: 100%;
//   overflow: hidden;
// }

// .left {
//   float: left;
// }

// .right {
//   float: right;
// }

// .relative {
//   position: relative;
// }

.container
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
  @media (max-width $screen-md)
    padding 0 15px
  @media (max-width $screen-sm)
    padding 0 15px

.hidden-lg
  display none !important
// @media (max-width $screen-lg)
//   .hidden-lg
//     display none !important
@media (max-width $screen-md)
  .hidden-md
    display none !important
@media (max-width $screen-sm)
  .hidden-sm
    display none !important
  .visible-sm
  .hidden-lg
    display block !important
