// 1. color
// 2. font size
// 3. font-family
// --------------------------------------------------


$branco = #ffffff
$cinza = #727272
$verde = #20ae17
$vermelho = #ae1717
$cor-padrao = #6a0077
$cor-padrao22 = #eed771
$cor-padrao2 = #ca932b
$cor-padrao11 = #c51d8e
$preto = #2d2d2d
$preto2 = #121324



