@font-face {
  font-family: 'Exobold';
  font-path: '/fonts/Exo-bold';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exoregular';
  font-path: '/fonts/Exo-regular';
  font-weight: normal;
  font-style: normal;
}