@import 'flexbox.styl'
@import 'mixins.styl'
@import 'font.styl'
@import 'alias.styl'

@import 'atomos/text.styl'
@import 'atomos/types.styl'
@import 'atomos/buttons.styl'
@import 'atomos/form.styl'
@import 'atomos/images.styl'

// 1. color
// 2. font-size
// 3. font-family
// --------------------------------------------------


// 
// 1. color 
// --------------------------------------------------

$azul = #00AEFF
$cinza = #DBDBDB

$color-bg-body = $branco
$color-bg-header = $azul-claro

// 
// 2. font size
// --------------------------------------------------


$fs-menu-link = 12px
$fs-login-link = 12px
$fs-slider-link = 12px


// 
// 2. font-family
// --------------------------------------------------

$exo-regular = 'exo-regular'
$exo-semibold = 'exo-semibold'

$fm-menu = $exo-regular
$fm-slider = $exo-semiboldi


