mixin headercomprovam
  .sec__header.fade-in-up
    h2.sec__titulo.comprovam__titulo ESTUDOS COMPROVAM...
    p.sec__subtitulo.comprovam__subtitulo Burn Perfect é o único com capacidade natural de fazer seu corpo emagrecer mais rápido que 12 meses de academia.
    p.sec__descricao
      strong.cor--1 Burn
      strong.cor--2 Perfect
      | foi colocado à prova em um estudo Australiano no ano de 2019 envolvendo outros três grandes emagrecedores. O teste juntamente com outras três grandes causas de emagrecimento durou um mês:


mixin headercomposto
  .sec__header.fade-in-up
    h2.sec__titulo.composto__titulo COMPOSTOS 100% NATURAIS
    p.sec__subtitulo.composto__subtitulo Burn Perfect tem resultados extraordinários por conta de sua fórmula 100% natural e por isso age tão bem e faz você emagrecer rapidamente!

mixin headerdepoimentos
  .sec__header.fade-in-up
    h2.sec__titulo.depoimentos__titulo DEPOIMENTOS DE QUEM JÁ USA
    p.sec__subtitulo CONFIRA DEPOIMENTOS REAIS DE CLIENTES QUE USAM BURN PERFECT

mixin headervendas
  .sec__header.fade-in-up
    h2.sec__titulo.vendas__titulo COMPRE HOJE COM PREÇO PROMOCIONAL
    p.sec__subtitulo SOMENTE HOJE COMPRANDO QUALQUER KIT, VOCÊ GANHA UM INCRÍVEL DESCONTO

mixin headerduvidas
  .sec__header.fade-in-up
    h2.sec__titulo.duvidas__titulo DÚVIDAS FREQUENTES
    p.sec__subtitulo ABAIXO RESPONDEMOS ALGUMAS PERGUNTAS FREQUENTES DOS NOSSOS CLIENTES

