@alias {

  fs: font-size;
  fm: font-family;
  fw: font-weight;
  bgc: background-color;
  marg: margin;
  marg-l: margin-left;
  marg-r: margin-right;
  marg-t: margin-top;
  marg-b: margin-bottom;
  
  cor: color ;
  w: width;
  h: height;
  pos: position;
  dis: display;
}
