// 1. color
// --------------------------------------------------
$white: #ffffff;
$black: #000000;
$cor-padrao2: #c3255f;
$cor-padrao: #380951;


$white: #ffffff;
$black: #000000;
$deep-green: #004826;
$snot-green-13: rgba(153, 204, 0, 0.13);
$sick-green: #a5c92f;
$brownish-grey: #666666;
$greyish-brown: #424242;
$sick-green-two: #accd37;
$grassy-green: #4f8c00;
$greyish: #b0b0b0;
$dark-purple: #380951;
$greyish-brown-two: #404040;
