include ./components/components.pug

doctype html
html(lang="pt-BR")
  include ./_includes/doctype.pug
  body
    //- include ./layout/_header.pug
    main#content-site
      //- include ./layout/block-beneficios.pug
    //-   include ./../layout/block-conheca.pug
    //-   include ./../layout/block-compare.pug
    //-   include ./../layout/block-resultados.pug
    //-   include ./../layout/block-midia.pug
    //-   include ./../layout/block-slider.pug
    //-   include ./../layout/block-compra.pug
    //-   include ./../layout/block-garantia.pug
    //-   include ./../layout/block-vendas.pug
    //-   include ./../layout/block-tempo.pug
    //-   include ./../layout/block-ebook.pug
    //-   include ./../layout/block-duvidas.pug
    //- include ./layout/_footer.pug


    //- include ./../_includes/scripts.pug


