include ./components/components.pug

doctype html
html(lang="pt-BR")
  include ./_includes/doctype.pug
  body
    include ./layout/_header.pug
    main#content-site
      //- include ./layout/block-beneficios.pug
    include ./layout/_footer.pug

    //- include ./_includes/scripts.pug


