.teste2 {
    display: grid;
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
}

.topo
  background url(../assets/images/bg-header.jpg) center top no-repeat
  background-size cover
  max-height 803px
  padding 50px 0
  @media (max-width $screen-md)
    padding 35px 0
  @media (max-width $screen-sm)
    padding 20px 0
    max-height 100%
    background url(../assets/images/bg-header-mob.jpg) center top no-repeat
    background-size cover

  &--container
      display flex
      justify-content: space-between
      align-items: center

  &__thumb
    max-width 505px
    min-width 505px
    margin-right: 15px
    @media (max-width $screen-md)
      max-width 40%
      min-width 40%

    // @media (max-width $screen-md)
    //   margin 95px 0 0

    @media (max-width $screen-sm)
      max-width 200px
      min-width 200px

  &__content
    max-width 59%
    min-width: 59%
    display flex
    flex-wrap: wrap
    @media (max-width $screen-md)
      max-width 55%
      min-width: 55%
    @media (max-width $screen-sm)
      max-width 100%
      min-width: 100%
      flex-direction column
      justify-content center
      align-items center


  &__link
    background url(../assets/images/logo.png)center center no-repeat
    width 222px
    height 125px
    display block
    @media (max-width $screen-sm)
      width 117px
      height 65px
      background-size auto 65px
      margin-bottom 5px

  &__titulo
    font-size 25px
    font-weight 500
    color $branco
    margin 35px 0
    @media (max-width $screen-md)
      margin 20px 0
      fs 22px
    @media (max-width $screen-sm)
      fs 20px
      margin 10px 0
      text-align: center
    &--destaque
      color $cor-padrao

  &__descricao
    font-size 18px
    font-weight bold
    color $branco
    @media (max-width $screen-sm)
      text-align: center
    //   padding 20px 0 10px
    &--destaque
      color $cor-padrao
    &--destaque2
      color #6bb94e

  &__list
    padding 35px 0 30px
    @media (max-width $screen-md)
      padding 25px 0 20px
    @media (max-width $screen-sm)
      padding 15px 0 5px
  .topo__item
    padding 13px 20px 11px 60px
    font-size 14px
    font-weight bold
    color $branco
    position relative
    margin-bottom 25px
    text-transform: uppercase
    @media (max-width $screen-md)
      margin-bottom 10px
    @media (max-width $screen-sm)
      // padding: 15px 0px 15px 30px;
      margin: 0
      padding 5px 0px 5px 40px
    &::before
      content ""
      position absolute
      left 0
      top 0
      border-radius 50%
      background url(../assets/images/ico-header.png) left top no-repeat
      width 47px
      height 47px
      @media (max-width $screen-sm)
        top calc(50% - 15px)
        background url(../assets/images/ico-header.png) left top no-repeat
        background-size: auto 30px
        width 30px
        height 30px
