.teste {
    display: grid;
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
}
.teste2 {
    display: grid;
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
}

.topo
  background url('../assets/img/bg-header.jpg')center top no-repeat
  min-height: 585px
  padding 50px 0
  // @media (max-width $screen-md)
  //   min-height 100%
  @media (max-width $screen-sm)
    padding 25px 0
    background: $cor-padrao

  &--container
    display flex
    justify-content: space-between
    @media (max-width $screen-sm)
      justify-content: center

  &__thumb
    max-width: 373px
    // margin 20px 0
    @media (max-width $screen-md)
      max-width: 209px
      min-width: 209px
    @media (max-width $screen-sm)
      max-width: 180px
      min-width: 180px
      margin: 5px auto;
      top: 0;

  &__content
    max-width: 60%
    min-width: 60%
    @media (max-width $screen-sm)
      max-width: 100%
      min-width 100%
      display: flex
      align-items: center
      flex-direction: column
    @media (max-width $screen-md)
      max-width: 70%
      min-width: 70%


  &__link
    background url(./../assets/img/logo.png)left top no-repeat
    width 210px
    height 108px
    display inline-block
    @media (max-width $screen-sm)
      background url(./../assets/img/logo.png)left top no-repeat
      background-size auto 60px
      width 122px
      height 60px
      margin 10px 0 0

  &__titulo
    font-size 24px
    font-weight bold
    color $branco
    text-transform uppercase
    margin 40px 0
    @media (max-width $screen-md)
      margin 30px 0
      fs 18px
    @media (max-width $screen-sm)
      fs 20px
      margin 20px 0
      text-align: center
    &--destaque
      color $cor-padrao22
      font-size 42px
      font-weight 900
      @media (max-width $screen-sm)
        fs 18px
      @media (max-width $screen-md)
        fs 24px

  &__list
    display: flex
    justify-content: space-between
    flex-wrap: wrap

  &__item
    max-width: 48%
    min-width: 48%
    font-size 18px
    font-weight 500
    line-height 1.56
    color $branco
    margin-bottom 10px
    position relative
    padding-left 33px
    @media (max-width $screen-sm)
      max-width 100%
      min-width: 100%
    &::before
      position: absolute
      left 0
      top 0
      content ""
      width 24px
      height 29px
      background url(./../assets/img/ico-header.png) left top no-repeat







