header.topo
	.container
		h1.logo
			a(href="#" class="logo-link" title=logo)

		nav.menu
			+menu2('menu-list','menu-item','menu-link')
				
		.sociais
			+sociais('sociais-list', sociais1, sociais2, sociais3)
