header.topo
  .container.topo--container

    .topo__content
      h1.topo__titulo PODEROSO TRATAMENTO DE RECONSTRUÇÃO DOS FIOS

    .topo__thumb
          img(src="./assets/img/bg-header.jpg" class="img-center img-fluid" alt="produto ")




