@import 'layout/_header.styl'

// /*! components */
@import '../components/components.styl'

// /*! meio */
@import '../layout/block-beneficios.styl'
@import '../layout/_footer.styl'


// @import 'layout/block-conheca.styl'
// @import 'layout/block-compare.styl'
// @import 'layout/block-resultados.styl'
// @import 'layout/block-midia.styl'
// @import 'layout/block-slider.styl'
// @import 'layout/block-compra.styl'
// @import 'layout/block-garantia.styl'
// @import 'layout/block-vendas.styl'
// @import 'layout/block-tempo.styl'
// @import 'layout/block-ebook.styl'
// @import 'layout/block-duvidas.styl'

// /*! rodape */



$padd = 15px;
.teste1
  border: 1px solid red;
  padding: $padd;

.nossa
  border: 11px solid red;
  padding: $padd;
  background: url("./../assets/img/logo.png")left top no-repeat;
  width 300px
  height 300px

.teste3
  border: 1px solid blue;
  padding: $padd;


