.box__btn {
  // margin: $space-xs 0 0;
  text-align: center;

  @media (min-width: $screen-md) {
    text-align: left;
    margin: 25px 0 0;
  }

  
  .btn {
    text-shadow: 0px 2px 0 rgba(0, 0, 0, 0.1);
    font-size: responsive 15px 24px;
    font-weight: 700;
    color: $white;
    border-radius: 6px;
    padding: 10px 20px;
    line-height: 1.25;
    background-image: linear-gradient(to top, #a57c24, #debc72);
    box-shadow: 0px 3px 0 0 rgba(0, 0, 0, 0.1);

    transition: all .3s ease;
    display: inline-flex;
    // position: relative;
    // z-index: 2;

    @media (min-width: $screen-md) {
      padding: 20px 30px;
      letter-spacing: -1.8px;
      // line-height: 1.05;
    }

    // &::before {
    //   content: "";
    //   position: absolute;
    //   left: 0px;
    //   top: 0px;
    //   bottom: 0px;
    //   right: 0px;
    //   border-radius: 10px;
    //   background: linear-gradient(to bottom, #caf003 0%, #69b723 100%);
    //   z-index: -1;

    //   @media (min-width: $screen-md) {
    //     box-shadow: 0 4px #3c7801,
    //     4px 17px 30px -13px #6dad12;
    //   }

    // }

    // &::after {
    //   content: "";
    //   position: absolute;
    //   left: 3px;
    //   top: 3px;
    //   bottom: 3px;
    //   right: 3px;
    //   border-radius: 7px;
    //   background: linear-gradient(to bottom, #aae503 0%,  #529519 100%);
    //   z-index: -1;

    //   @media (min-width: $screen-md) {
    //     left: 5px;
    //     top: 5px;
    //     bottom: 5px;
    //     right: 5px;
    //   }
    // }

    &:hover {
      background-image: linear-gradient(to bottom, #a57c24, #debc72);
      transition: all .3s ease;
    }
  }

  // .btn--claro {
  //   background-color: $aqua;
  //   &:hover {
  //     background-color: $navy;
  //   }
  // }

  // .btn--low {
  //   @media (min-width: $screen-md) {
  //     font-size: 12px;
  //     padding: 11px 25px 11px 35px;
  //   }
  // }


  // .btn__ico {
  //   display: inline-block;
  //   width: 30px;
  //   height: 31px;
  //   margin-left: 7px;
  //   background: url(../assets/images/ico-btn.png)left top no-repeat;
  //   background-size: auto 30px;
  //   @media (min-width: $screen-md) {
  //     width: 41px;
  //     height: 42px;
  //     background-size: auto 42px;
  //     margin-left: 18px;

  //   }
  // }

  &.btn--center {
    display: flex;
    justify-content: center;
  }
}
