.rodape
	width 100%
	height 662px
	padding-top 50px
	background url("../img/bg-rodape.jpg") no-repeat top center
	position relative
	.logo-rodape
		width 456px
		height 54px
		margin-bottom 20px
		background url("../img/logo-rodape.png") no-repeat center
	.menu-rodape
		height 330px
	.item-menu
		width 190px
		float left
		&:nth-child(2)
			width 160px
	.titulo
		color $branco
		font-size 14px
		font-family $fm-trodape
		text-transform uppercase
		margin 30px 0 2px
	li
		display block
		a
			background url("../img/ico-10.png") no-repeat  left center
			color $cinza3
			padding 6px 5px 6px 15px
			font-size 13px
			font-family $fm-rodape
			display block
			-webkit-transition: color 0.3s ease-out;
			-moz-transition: color 0.3s ease-out;
			-o-transition: color 0.3s ease-out;
			transition: color 0.3s ease-out;
			&:hover
				color $azul
	.sociais
		li
			display inline-block
			margin-right 15px
			a
				width 42px
				height 49px
				display block
				&.ico-face
					background url(../img/ico-face.png) no-repeat bottom left
				&.ico-twit
					background url(../img/ico-twitter.png) no-repeat bottom left
				&.ico-yt
					background url(../img/ico-yt.png) no-repeat bottom left
				&:hover
					background-position top !important
				
	.copyright
		padding 15px 0
		position absolute
		bottom 0
		p
			color $branco
			font-size 14px
			font-family $exo-regular
			a
				color #585858
				font-size 14px
				font-family $exo-regular
				float right
