.box-right
	width 323px
	float right
	margin-bottom 50px
.download
	background url(../img/bg-download.jpg) no-repeat top left
	width 321px
	height 174px
	margin-top 20px
	float left
	position relative
	
	&::after
		content ""
		background url(../img/ico-download.png) no-repeat top left
		position absolute
		left 10px
		top -20px
		width 171px
		height 119px
		z-index 1
	p
		width 135px
		position absolute
		right 25px
		top 25px
		color $branco
		font-size 16px
		font-family $exo-bold
		text-align right
	.download-link
		background url(../img/bt-download.png) no-repeat top left
		width 300px
		height 61px
		position absolute
		left 0 
		bottom 20px
		padding 10px 20px
		display block
		z-index 2
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		-ms-transition: 0.3s;
		-o-transition: 0.3s;
		&:hover
			background url(../img/bt-download-hover.png) no-repeat top left
		span			
			color $azul					
			background url(../img/ico-8.png) no-repeat left center 
			padding-left 40px
			font-size 28px
			font-family $exo-extraboldi
			text-transform uppercase
		&:hover span
			background url(../img/ico-8hov.png) no-repeat left center 
			color $branco
	
.box-padrao
	width 100%
	float left
	margin-top 20px
	.topo-padrao		
		span
			padding 13px
			margin-left 18px
			color $azul
			border-bottom 2px solid $azul
			font-size 20px
			font-family $exo-semiboldi
			display inline-block
.servidor
	background-color #171817
	padding 18px
	p
		color $branco
		font-size 16px
		font-family $exo-bold
	img
		margin 9px 0
.infos-padrao
	.box-abas
		background-color #131413
		box-shadow(inset 0px -1px 0px 0px rgba(53,54,53,1))
		.titulo-abas
			color $cinza-servidor
			border-bottom 1px solid transparent
			padding 13px 14px 10px
			display inline-block
			font-size 12px
			font-family $exo-regular
			cursor pointer
			&:hover
				color $branco
				-webkit-transition: color 0.3s ease-out;
				-moz-transition: color 0.3s ease-out;
				-o-transition: color 0.3s ease-out;
				transition: color 0.3s ease-out;
			&.active
				color $branco
				border-bottom 1px solid #707170
				position relative
				font-family $exo-bold
				&::after
					content ""
					position absolute
					left 0
					right 0
					bottom -5px
					margin 0 auto
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 4px 4px 0 4px;
					border-color: #707170 transparent transparent transparent;
	.conteudo-servidor
		background-color #1F201F
		padding 15px 10px
		li
			display block
			color $cinza
			font-size 12px
			line-height 1.7
			font-family $exo-regular
		span
			font-family $exo-bold
			
.eventos
	background-color #171817
	padding 18px

.conteudo-eventos
	background-color #1F201F
	padding 13px 20px 
	height 320px
	overflow-y auto
	&::-webkit-scrollbar {  width: 10px;  background: #535353;}
	&::-webkit-scrollbar-thumb {  background: #535353;}
	&::webkit-scrollbar-button {  background-color: #535353;}
	&::-webkit-scrollbar-track {  background: #353535;}
	&::-webkit-scrollbar-track-piece {  background: #353535;}
	&::-webkit-scrollbar-corner {  background: #535353;}

	li
		width 100%
		display block
		float left
		border-bottom 1px solid #353535
		.item-left
			width 100%
			float left
			padding 6px 0
			.titulo-evento
				color $cinza
				font-size 16px
				font-family $exo-bold
				overflow hidden
				white-space nowrap
				text-overflow ellipsis
			.data-evento
				color $cinza
				font-size 12px
				font-family $exo-regular
				display block
			.inicio-evento
				color #00AEFF
				font-size 12px
				font-family $exo-regular	
				display none	
		.item-right
			width 41%
			display none
			float right
			background-color #00AEFF
			padding 15px 10px
			position relative
			&::before
				content ""
				position absolute
				left -30px
				bottom 0
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 0 50px 30px;
				border-color: transparent transparent #00AEFF transparent;
			
			.tempo-evento
				background url(../img/ico-9.png) no-repeat left center
				color #00214B
				font-size 14px			
				padding-left 20px
				font-family $exo-bold
			
		.aba2
			margin-top 10px
			.item2-left
				width 70%
				float left
				padding 15px 0
				.titulo2-evento
					color $cinza
					font-size 12px
					font-family $exo-bold
					overflow hidden
					white-space nowrap
					text-overflow ellipsis
				.data2-evento
					color $cinza
					font-size 12px
					font-family $exo-regular
					display inline-block
			.item2-right
				width 30%
				float right
				background-color #353535
				padding 15px 10px
				position relative
				&::before
					content ""
					position absolute
					left -30px
					bottom 0
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 0 47px 30px;
					border-color: transparent transparent #353535 transparent;
				.tempo2-evento
					color $cinza
					font-size 12px			
					font-family $exo-bold
		&.ativo
			border-bottom 1px solid #00AEFF
		&.ativo	.item-left
			width 59%
		&.ativo	.titulo-evento
			color #00AEFF	
		&.ativo	.data-evento
			display none
		&.ativo	.inicio-evento
			display block
		&.ativo	.item-right
			display block
		&.ativo .item2-left .titulo2-evento,
		&.ativo .item2-left .data2-evento
			color #00AEFF
		&.ativo .item2-right
			background-color #00AEFF
			&::before
				border-color: transparent transparent #00AEFF transparent;
		&.ativo .item2-right .tempo2-evento
			color #00214B		
			font-family $exo-bold
			
.melhores
	background-color #171817
	padding 18px
.item1-melhores
	.box1
		background-color #1F201F
		padding 13px
		.titulo
			color $azul
			font-size 14px
			font-family $exo-bold
			margin-bottom 10px
		.thumb
			width 62px
			height 62px
			float left
			margin-right 15px
			overflow hidden
		.infos
			float left
			p
				color $cinza
				margin-bottom 5px
				font-size 12px
				font-family exo-regular
				span
					font-size 10px
					font-family exo-bold	
					vertical-align super
					margin-left 5px					
		.link
			background url(../img/ico-10.png) no-repeat left center
			color #959595
			font-size 13px
			font-family exo-medium
			padding-left 15px
			margin-bottom 6px
			display inline-block
			&:hover 
				color $azul	
				-webkit-transition: color 0.3s ease-out;
				-moz-transition: color 0.3s ease-out;
				-o-transition: color 0.3s ease-out;
				transition: color 0.3s ease-out;			
	.proximo
		color $cinza
		background-color #171817
		padding 12px
		font-size 12px
		font-family exo-medium
		span
			font-family exo-bold
		
	.thumb2
		background url(../img/ico-pvp.png) no-repeat left bottom
		position relative
		left -10px
		bottom -10px
		width 87px
		height 108px
		float left
		margin-right 10px
	.valor
		color #21D521
		font-family exo-bold

	.premiacao-link
		display inline-block
		color $azul
		font-size 12px
		font-family exo-regular
		text-decoration underline
.equipe
	padding 20px
	background-color #171817
	li
		width 100%
		background-color #131413
		padding 7px 10px
		display block
		float left
		margin-bottom 5px 
	span 
		text-transform uppercase
		color $cinza
		font-size 12px
		font-family exo-bold
		float left
	p
		width 110px
		float right
		&.online
			border 1px solid #33901A
		&.offline
			border 1px solid #C30707
		span
			width 50%
			display inline-block
			text-transform uppercase
			color $branco
			font-size 10px
			padding 0 5px
			&.online		
				float left	
				background-color #33901A
			&.offline
				float right
				background-color #C30707