footer.rodape
  .rodape1
    .container.rodape--container.fade-in-left
      .rodape__item.item1
        .rodape__logo

      .rodape__item.item2
        h3.rodape__titulo LINK ÚTEIS
        a(href="politica-de-privacidade.html" class="rodape__link" title="POLÍTICA DE PRIVACIDADE" target="_blank" rel="noopener noreferrer") POLÍTICA DE PRIVACIDADE
        a(href="termos-de-uso.html" class="rodape__link" title="TERMOS DE USO" target="_blank" rel="noopener noreferrer") TERMOS DE USO

      .rodape__item
        h3.rodape__titulo ATENDIMENTO
        p.rodape__descricao E-mail:
          a(class="rodape__email" href="mailto:contato@burnperfect.com.br") contato@burnperfect.com.br
        p.rodape__descricao Whattsapp:
          a(class="rodape__descricao" href="https://api.whatsapp.com/send?phone=5521000000000" rel="noopener noreferrer" target="_blank") (00) 00000-0000
        p.rodape__descricao Segunda a Sexta: 08h às 18hrs

      .rodape__item
        h3.rodape__titulo PRAZO DE ENTREGA
        p.rodape__descricao Até 7 dias úteis para estados de RJ, SP, demais estados prazos de até 12 dias.
        a(class="rodape__rastreio" href="https://rastreio.xtransport.com.br/burn-perfect" title="Rastrear pedido" target="_blank" rel="noopener noreferrer")
          span.ico--rastreio
          | RASTREAR PEDIDOS

  .copiryght
    .container
      p © Copyright 2020 -
        span.copy--destaque Burn Perfect.
        | . Todos os direitos reservados. CNPJ: 35.448.895/0001-06
