footer.rodape
  .container.rodape--container
    .rodape__item.item1
      .rodape__logo

    .rodape__item.item1
      h3.rodape__titulo LINKS IMPORTANTES
      //- a(href="https://rastreio.biosupre.com/selorgan" class="rodape__link" title="RASTREAR PEDIDO" target="_blank" rel="noopener") RASTREAR PEDIDO
      //- a(href="politica-de-privacidade.html" class="rodape__link" title="POLÍTICA DE PRIVACIDADE" target="_blank" rel="noopener") POLÍTICA DE PRIVACIDADE
      //- a(href="termos-de-uso.html" class="rodape__link" title="TERMOS DE USO" target="_blank" rel="noopener") TERMOS DE USO

    .rodape__item.item2
      h3.rodape__titulo ATENDIMENTO
      a(href="mailto:sac@selorgan.com.br" class="rodape__email")
        p SAC@SELORGAN.COM.BR
      p.rodape__descricao (00) 00000-0000
      p.rodape__descricao Das 9h às 18hrs
      p.rodape__descricao CNPJ: 28.429.515/0001-20

    .rodape__item.item3
      h3.rodape__titulo ACEITAMOS TODOS OS CARTÕES E BOLETO
      .thumb__pagamento
      .thumb__seguro

  .copiryght
    .container
      p © 2020 -
        span.copy--destaque Selorgan
        | - Todos os direitos reservados

#shadow
