
header.topo
  .container.topo--container
    .topo__thumb.hidden-sm
      img(src="./../assets/images/mockup-header.png" class="img-center img-fluid", alt="mockup burn perfect")
    .topo__content
      .topo__logo.fade-in
        a(href="#" title="nomesite", class="topo__link")

      h1.topo__titulo.fade-in-up O QUEIMADp
        strong.topo__titulo--destaque GORDURA CORPORAL 
        | PENSADO ESPECIALMENTE PARA AS MULHERES

      p.topo__descricao.fade-in-up APÓS FAZER SUCESSO EM 46 PAÍSES,
        span.topo__descricao--destaque BURN 
        span.topo__descricao--destaque2 PERFECT CHEGA AO BRASIL

      .topo__list.fade-in-right
        .topo__item Queime as gordurinhas que sobram na cintura
        .topo__item Derreta toda e qualquer gordura em excesso
        .topo__item Aumente a queima de gordura enquanto você dorme
        .topo__item Emagrecimento rápido e de forma natural

      //- .topo__thumb.hidden-lg.hidden-md.fade-in-left
        img(src="assets/img/mockup-header.png" class="img-center img-fluid", alt="mockup burn perfect")

      .box__btn.box__btn--center
        a(href="#" class="btn menu-mover" alt="QUERO EXPERIMENTAR!") QUERO EXPERIMENTAR!



