section.sec.beneficios
  .container.beneficios--container
    //- +headerbeneficios
    .beneficios__content.fade-in-up
      h2.sec__titulo.beneficios__titulo BENEFÍCIOS
      p.sec__subtitulo APROVADO PELA ANVISA, E AGORA DISPONÍVEL PARA VOCÊ!
      p.sec__descricao
        strong.cor--1 Burn
        strong.cor--2 Perfect
        | é o único queimador de gordura natural que derrete toda e qualquer gordura acumulada não necessária do corpo humano.

      p.sec__descricao Produzido especialmente para aumentar a queima de calorias sem a necessidade de academias, exercícios exaustivos e posições constrangedoras.

      p.sec__descricao
        strong.cor--1 Burn
        strong.cor--2 Perfect
        | é Perfeito para dar Adeus às gordurinhas abaixo do braço! Dê tchau sem balançar as gordurinhas!

    .beneficios__thumb.fade-in-right
      img(src="assets/images/thumb-beneficios.png", alt="beneficios" class="img-center img-fluid")
