include ./../base/variaveis
//- include ./../components/c-heading
//- include ./../components/menu

doctype html
html(lang="pt-BR")
  include ./../base/doctype
  body
    include ./../layout/_header
    //- main#content-site
    //-   include ./../layout/block-about
    //- include ./../layout/_footer



