-var metadescription = "Selorgan - Poderoso tratamento de reconstrução dos fios, recupera até 5x mais os fios dos seus cabelos da raiz às pontas!"
-var corpadrao = "#6a0077"

- var titulosite ="Selorgan - Poderoso tratamento de reconstrução dos fios, recupera até 5x mais os fios dos seus cabelos da raiz às pontas!"

- var nomesite ="Selorgan"

//- - var thumbheader = "./../../assets/img/mockup-header.png"
//- - var thumbheadermob = "./../../assets/img/mockup-header.png"

- var mailtoemail ="sac@selorgan.com.br"
- var email ="sac@selorgan.com.br"




