- var metadescription = "BURN PERFECT - O verdadeiro queimador de gordura corporal, pensando especialmente para as mulheres"
- var corpadrao = "#6a0077"
- var titulosite = "BURN PERFECT"

head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, minimum-scale=1, maximum-scale=2, initial-scale=1.0")
    meta(name="description", content=metadescription)
    meta(name="theme-color", content=corpadrao)
    meta(name="format-detection", content="telephone=no")
    title #{titulosite}
    link(rel="shortcut icon", href="favicon.png", type="image/png")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,900;1,600;1,700&display=swap")
    //- link(type="text/css", rel="stylesheet", href="assets/css/style.css")

    //- link(type="text/css", rel="stylesheet", media="all", href="assets/js/slick/slick.css")
    //- link(type="text/css", rel="stylesheet", media="all", href="assets/js/slick/slick-theme.css")
    //- link(type="text/css", rel="stylesheet", media="all", href="js/simulacao/simulacao2.css")
    //- link(type="text/css", rel="stylesheet", media="all", href="js/toastr/toastr.css")
    //- link(type="text/css", rel="stylesheet", media="all", href="assets/js/wow/animate.min.css")
    //- link(type="text/css", rel="stylesheet", media="all", href="assets/fonts/font.css")



