- var data = {corpadrao: '#6a0077', title: 'BURN PERFECT'}

-var metadescription = "BURN PERFECT - O verdadeiro queimador de gordura corporal, pensando especialmente para as mulheres"

- var titulosite ="BURN PERFECT - O verdadeiro queimador de gordura corporal, pensando especialmente para as mulheres"

- var nomesite ="BURN PERFECT"

- var thumbheader = "assets/img/mockup-header.png"
- var thumbheadermob = "assets/img/mockupheader-mobile.png"

- var mailtoemail ="contato@burnperfect.com.br"
- var email ="contato@burnperfect.com.br"


