// 1. color
// 2. fonts
// 3. 
// --------------------------------------------------
 
// 
// 1. color 
// --------------------------------------------------

$azul-claro = #1680a7
$azul-cinza-escuro = #202b31
$branco = #fff
$verde-claro = #6ed5a2
$azul-cinza-medio = #788c95

$color-bg-body = $branco
$color-bg-header = $azul-claro
$color-bg-main = $branco
$color-bg-cursos = $azul-cinza-escuro




// 
// 2. fonts 
// --------------------------------------------------

$font = 26px
$font-default = 'din-bold'
$font-bold = 'normal'



font-size(13px);
/* transformando em rem */
font-size(value) {  
    font-size: value; 

    if (value is inherit) {
        /* do nothing, "inherit" has no unit */
    } else {
        font-size: remify(value);
    }
}

remify(value) { /* separate mixin, so it can be used elsewhere */  
    u = unit(value);

    if (u is 'px') {
        return unit(value/16, 'rem');
    } else {
        return unit(value, u);
    }
}