-var metadescription = "nomesite - infos"
-var corpadrao = "#e95201"

- var titulosite ="nomesite - infos"

- var nomesite ="nomesite"

- var thumbheader = "assets/img/thumb1-header.png"
- var thumbheadermob = "assets/img/thumb1header-mobile.png"

