//components

.sec
  padding 50px 0
  @media (max-width $screen-sm)
    padding 25px 0
  .sec__header
    text-align center
    // margin-bottom 30px
    @media (max-width $screen-sm)
      // margin-bottom 20px
  .sec__titulo
    font-family Raleway
    font-size 42px
    font-weight 800
    line-height 1.15
    text-align center
    color $cor-padrao2
    @media (max-width $screen-sm)
      fs 20px

  .sec__subtitulo
    color $cor-padrao


  .sec__descricao
    font-family Raleway
    font-size 18px
    line-height 2.33
    color $preto
    &--destaque
      color $cor-padrao11
    @media (max-width $screen-sm)
      // fs 18px
      line-height 1.4







#content-site
  overflow-y hidden

.box__btn
  margin 10px 0
  @media (max-width $screen-sm)
    max-width: 360px
    min-width: 320px
    text-align: center
    margin: 10px auto 0;
  .btn
    color: $branco;
    text-shadow 0px 3px 0 rgba(0,0,0,0.2)
    border-radius 6px
    box-shadow 0px 5px 0 0 rgba(0, 0, 0, 0.2)
    background-image linear-gradient(to top, #12aa15, #bed631)
    font-size 28px
    font-weight 900
    line-height 0.93

    padding: 25px 75px 22px 25px
    display: inline-block
    position relative
    transition 0.3s
    height 71px
    &::before
      content ""
      position absolute
      top calc(50% - 13px)
      right 20px
      width 41px
      height 30px
      background url(./../assets/img/seta-btn.png)left top no-repeat
      @media (max-width $screen-sm)
        background url(./../assets/img/seta-btn.png)left top no-repeat
        background-size auto 22px
        width 30px
        height 22px
        top calc(50% - 10px)
        right: 20px;
    &:hover
      transition 0.3s ease-out
      transform: scale(1.04);
    @media (max-width $screen-sm)
      fs 18px
      min-width 100%
      max-width 100%
      padding: 0px;
      height: 49px;
      display: flex
      align-items: center
      justify-content: center


.box__btn.btn--center
    display flex
    justify-content: center
.box__btn.btn--right
    display flex
    justify-content: flex-end

.linha
  background url(./../assets/img/dots-red.png) left top repeat-x
  height 2px
  position: absolute
  left 135px
  top 70px
