include variaveis.pug
head
    title #{titulosite}
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, minimum-scale=1, maximum-scale=2, initial-scale=1.0")
    link(rel="shortcut icon", href="favicon.png")

    link(type="text/css", rel="stylesheet", media="all", href="css/style.css")
    link(type="text/css", rel="stylesheet", media="all", href="css/reset.css")
    link(type="text/css", rel="stylesheet", media="all", href="css/fonts/font.css")
    link(type="text/css", rel="stylesheet", media="all", href="js/bxslider/jquery.bxslider.css")

    script(type="text/javascript" src='js/jquery-2.2.4.min.js')
    script(type="text/javascript" src='js/bxslider/jquery.bxslider.min.js')
    script(type="text/javascript" src='js/modernizr.js')
    script(type="text/javascript" src='js/funcoes.js')

    