include mixins.pug



- var titulosite ="Alan Sousa - Desenvolvedor Web"
- var titulositeabas1 ="noticias"
- var titulositeabas2 ="noticias"


- var logo ="Alan Sousa - Desenvolvedor Web"


- var banner1 ="img/thumb1.jpg"
- var thumb1 ="img/thumb1.jpg"
- var thumb1 ="img/thumb1.jpg"







