.teste
  .container
    .box__btn.fade-in-up
      a(href=".vendas", class="btn menu-mover" title="QUERO IMUNIDADE") QUERO IMUNIDADE

    .box__btn.btn--center.fade-in-up
      a(href=".vendas", class="btn btn--claro btn--low menu-mover" title="QUERO IMUNIDADE") QUERO IMUNIDADE
        span.btn__ico
