
mixin headerbeneficios
  .sec__header.sec__center.fade-in-up
    h2.sec__titulo.beneficios__titulo Benefícios do MamaChá
    p.sec__descricao.beneficios__descricao Prove e compare! Os benefícios do MamaChá estão muito além de qualquer outro chá!

mixin headervendas1
  .sec__header.sec__center
    h2.sec__titulo.mamacha__titulo Escolha o seu MamaChá
    p.sec__descricao.mamacha__descricao Compre seu Kit e melhore o seu dia e sua saúde!

mixin headervendas2
  .daddycha__header.sec__center
    p.daddycha__titulo Chegou o
      span.logo--daddycha
    p.daddycha__descricao Agora você tem um chá só seu, para ter mais:
    p.daddycha__subtitulo +Concentração  +Disposição  +Energia

mixin headervendas3
  .sec__header.sec__center
    h2.sec__titulo.babycha__titulo BABYCHÁ
    p.sec__subtitulo.babycha__subtitulo Agora seu bebê tem um chazinho só pra ele!
    p.sec__descricao.babycha__descricao Alivia a cólica e deixa seu bebê calminho o dia todo!

mixin headersobre
  .sec__header.sec__center.sec__before
    h2.sec__titulo.sobre__titulo Sobre a 
      span.sobre__titulo--destaque BioChás!

mixin headerpreparo
  .preparo__before
    h2.sec__titulo.preparo__titulo Como preparar
    p.preparo__descricao Os Chás precisam ser feitos bem quentinhos, então você pode preparar da seguinte forma:

mixin headeringredientes
  .sec__header.sec__center.sec__before
    h2.sec__titulo Nossos ingredientes
    p.sec__descricao Nossos Chás usam ingredientes totalmente naturais, trazendo os benefícios que você precisa para ter uma noite de sono tranquila.

mixin headerclientes
  .sec__header.sec__center.sec__before
    h2.sec__titulo.clientes__titulo Clientes satisfeitos com nossos chás
    p.sec__descricao Os chás BioChás te ajudam em todos os momentos do seu dia. Veja quem já comprovou isso:

mixin headerduvidas
  .sec__header.sec__center.sec__before
    h2.sec__titulo.duvidas__titulo Perguntas Frequentes
    

