header.topo
  .topo1
    .container.topo1--container
      .topo__logo
        a(href="./" title=nomesite, class="topo__link")
      span.mini-menu
        span.ico-mini__menu
      nav.menu
        ul.menu__list
          li.menu__item.menu--item__ico
            a(href="#" class="menu__link" title="NOSSOS CHÁS") NOSSOS CHÁS
            ul.sub__menu
              li.sub--menu__item
                a(href="#" class="sub--menu__link" title="NOSSOS CHÁS") NOSSOS CHÁS
              li.sub--menu__item
                a(href="#" class="sub--menu__link" title="NOSSOS CHÁS") NOSSOS CHÁS
          li.menu__item
            a(href="#" class="menu__link" title="SOBRE A BIOCHÁS") SOBRE A BIOCHÁS
          li.menu__item
            a(href="#" class="menu__link" title="COMO PREPARAR") COMO PREPARAR
          li.menu__item
            a(href="#" class="menu__link" title="INGREDIENTES") INGREDIENTES
          li.menu__item
            a(href="#" class="menu__link" title="QUEM USA?") QUEM USA?
          li.menu__item
            a(href="#" class="menu__link" title="PERGUNTAS") PERGUNTAS
          li.menu__item
            a(href="#" class="menu__link" title="FALE CONOSCO") FALE CONOSCO

